.main{
    
}

/* height: 99vh; */
table{
    width: 430px;
    height: 100%;
    text-align: center;
    border-radius: 16px;
    border-spacing: 30px;
    border-collapse: separate;
    background-color: var(--bg-dark);
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    /* width: 290%; */

}


td{
    cursor: pointer;
    border: 1px solid black;
    border-style: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    width: 70px;
    height: 70px;
}

.first_row{
    padding: 0px 16px;
    cursor: none;

}

#output{
    width: 100%;
    height: 90px;
    font-size: 40px;
    padding: 0px 16px;
    border-style: none;
    border-radius: 16px;
    margin: 1.5rem 0rem;
    color: rgb(153, 156, 177);
    background-color: var(--bg-dark);
    box-shadow: 0px 0px 22px var(--bg-black);

    text-align: end;
    /* justify-content: end; */
    /* align-items: start; */

}

.last_table{
    height: 2px;
}




