table{
    width: 90%;
    height: 1800px;
    border-radius: 16px;
    background-color: var(--bg-dark);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

    border-collapse: separate;
    border-spacing: 20px;
}


tr{
    text-align: center;
    font-size: 30px;
}

tr td{
    width: 200px;
    height: 200px;
    border-radius: 16px;
    font-size: 50px;
}

#output{
    text-align: end;
    padding: 0px 32px;
    font-size: 100px;
    color: rgb(153, 156, 177);
    box-shadow: 0px 0px 32px var(--bg-gray);
}

.last_table{
    font-size: 40px;
}



