
* {   
    margin: 0;
     padding: 0;
     box-sizing: border-box;
 
     font-family: "poppins";
     font-weight: 400;
     font-style: normal;
     /* font-size: 62.5%; */
     /* border: 1px solid white; */
  }
 
 body {
    background-color: var(--bg-white);
    color: var(--color-white);

    background: RGB(234, 232, 231);
    background: linear-gradient(19deg, rgba(234, 232, 231, 1) 58%, rgba(241, 228, 224, 1) 87%, rgba(241, 228, 224, 1) 39%); 
 }
 
 @font-face {
     font-family: "poppins";
     src: url(../Assets/fonts/poppins/Poppins-Regular.ttf);
 }
 
 /* bg-color-started */
 :root {
 
   --bg-off-white: rgb(253, 253, 253);
   --bg-orange: rgb(246, 153, 6);
   --bg-white: #ffffff;
   --bg-black: #000000;
   --bg-dark: rgb(7, 16, 19);
   --bg-gray: rgb(49, 49, 49);
 }
 
 .bg-gray {
   background-color: var(--bg-gray);
 }
 
 .bg-off-white {
   background-color: var(--bg-off-white);
 }
 
 .bg-orange {
   background-color: var(--bg-orange);
 }
 
 .bg-white {
   background-color: var(--bg-white);
 }
 
 .bg-black {
   background-color: var(--bg-black);
 }
 
 .bg-dark {
   background-color: var(--bg-dark);
 }
 /* bg-color-ended */
 
 /* color-started */
 :root {
 
    --color-off-white: rgb(253, 253, 253);
    --color-orange: rgb(246, 153, 6);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: rgb(35, 35, 35);
    --color-gray: rgb(49, 49, 49);
 }
 
 .color-gray {
    color: var(--color-gray);
  }
  
  .color-off-white {
    color: var(--color-off-white);
  }
  
  .color-orange {
    color: var(--color-orange);
  }
  
  .color-white {
    background-color: var(--color-white);
  }
  
  .color-black {
    color: var(--color-black);
  }
  
  .color-dark {
    color: var(--color-dark);
  }
 /* color-ended */

